.array-container{
    position: absolute;
    margin-left: 50px;
    margin-right: 50px;
}
.array-bar{
    /* width: 10px; */
    background-color: blue;
    display: inline-block;
    margin: 0 1px;
}